/*
Created by Ardora
http://www.webardora.net
*/
body{
font-family:Georgia, "Times New Roman", Times, serif;;
background-image:url("images/fondoTotal.gif");
background-position:top;
background-repeat:repeat-x;
background-color:#F9F9F7;
	color: #8C8C73;
}
#contenedor{	
	background-color:#FFFFFF;
	border-color:#8C8C73;
	border-width:thin;
	border-style:solid;
}
#tiraMenu{
	height:20px;
	padding-top:5px;
	border-bottom-style:groove;
	background-color:#D7B422;
	font-size:16px;
	font-weight:bold;
}
#menuPrincipal{
	height:20px;
	padding-top:5px;
	border-bottom-style:groove;
	background-color:#D7B422;
	font-size:16px;
	font-weight:bold;
}
#menuPrincipal a{
	margin-left: 5px;
	padding-right:10px;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	border-left-width:thin;
	border-right-style:ridge;
	border-right-color:#6B4871;
}
#menuPrincipal a:hover{color:#6B4871;}
#cabecera{
	border-bottom-style:groove;
	background:url(images/header.jpg) no-repeat right top;
	padding:0px;
}
#cabecera h1{
	margin-left:5px;
	font-size:28px;
	padding:0px;
	color:#000000;
	margin-top:0px;
	margin-bottom:0px;
text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#cabecera h2{
	padding:0px;
	font-size:16px;
	margin-left:5px;
	margin-top:0px;
}
#menu{
	margin-left:5px;
	float:left;
	width:15%;
	display:block;
}
#menu a{
	font-size:14px;
	margin-left:5px;
	margin-top:0px;
	margin-bottom:0px;
	color:#5B5B39;
	text-decoration:none;
}
#menu a:hover{color:#6B4871;}
#menu h1{
	font-size:14px;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:0px;
	border-bottom-color:#6B4871;
	border-bottom-style:solid;
	border-width:1px;
	color:#000000;
text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#areaContido{
	border-width:1px;
	border-left-style:dashed;
	float:right;
	width:83%;
}
#areaContido a{
	font-size:12px;
	margin-left:5px;
	margin-top:0px;
	margin-bottom:0px;
	color:#5B5B39;
	text-decoration:none;
}
#areaContido a:hover{
	color:#6B4871;
}
#areaContido h1{
	font-size:14px;
	margin-left:5px;
	margin-bottom:0px;
	color:#000000;
}
#areaContido h2{
	font-size:12px;
	margin-left:5px;
	font-weight:100;
	text-align:justify;
	margin:0px;
	visibility:hidden;
}
#areaContido h3{
	margin-top:0px;
	margin-bottom:0px;
	font-size:12px;
	margin-left:5px;
	font-weight:100;
	text-align:justify;
	margin-right:5px;
}
.lista{display:list-item; list-style:none;}
#pie{border-top-style:groove;clear:both;font-size:10px;}
#pie p{color:#000000;}
object{overflow:hidden;}
#areaMedia{top:140px;}
#suggestPost{
top:0;right:0;
position: fixed;height:25px;width:25px;}
#suggestPost a:hover{
background-image:url(images/bAvaliaSD2.png);
height:25px;width:25px;}
#suggestPost a{cursor: pointer;
background-image:url(images/bAvaliaSD.png);
display:block;height:25px;width:25px;}
object{overflow:hidden;}
#backmodal{background-color:rgba(0,0,0, 0.5);text-align:center;}
#modalw{font-size: 20px;display: inline-table;margin-top:10%;padding: 25px;text-align:justify;font-family: sans-serif;background-color:rgba(255,255,255,1)}
#cancelbut, #okbut{border-radius:8px;font-size: 28px;color: white;margin-top: 10px; cursor: pointer;}
#cancelbut:hover, #okbut:hover{box-shadow: inset 0px 0px 20px rgba(0,0,0,1);}
#cancelbut{padding: 2px 5px 5px 5px;background-color: red;float: left;}
#okbut{padding: 2px 8px 5px 8px;background-color: green;float:right;s}
